Package: vmman4
Version: 0.10.00~debug-0
Architecture: amd64
Maintainer: J.F.Gratton <jean-francois@famillegratton.net>
Description: libvirt QEMU/KVM client
Section: virtualization
Depends: 
Suggests: zsh
